
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    }

.logo-mario {
    height: 300px;
 }
 .mario-luigi {
    height: 550px;
}
.caixa-principal {
    width: 40%;
    
    
}
  

h2 {
        color: whitesmoke;
        padding-left: 30px;
        
}
    
p {
        color: white;
        margin-top: 30px;
        font-size: 20px;
        opacity: 0.6;
        padding-left: 40px;
}
button {
        margin-left: 30%;
        height: 60px;
        width: 40%;
        background: rgb(160, 3, 3);
        border: none;
        border-radius: 40px;
        color: floralwhite ;
        margin-top: 20px;
        cursor: pointer; 
        font-size: 20px;
    
        
}
       
.video-mario {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    }

video {
position: fixed;
top: 0;
min-height: 100%;
min-width: 100%;
   }
.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

button:active {
    color: black; 
}
button:hover {
    color: black;
}

